.grid-container {
    margin: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 40px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie {
    display: flex;
    border: 1px solid #fff;
    box-shadow: 10px 5px 15px gray;
    margin: 20px;
    padding: 10px;
    border-radius: 14px;
    color: #FFF;
}

.movie-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-title {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 36px;
    color: #01d277;
}

.movie-title div:hover {
  color: #FFF;
}

.movie-overview {
    font-family: 'Alegreya Sans', sans-serif;
    padding: 16px;
    margin: 12px;
    border-radius: 12px;
    font-size: 30px;
}

.location {
  text-align: center;
  font-size: 56px;
  color: #FFF;
  font-family: 'Bitter', serif;
}