.movie-detail-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-banner {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.movie-detail-info-container {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.movie-detail-title {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 56px;
  display: flex;
  justify-content: center;
  color: #FFF;
  text-shadow: 5px 5px #000;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.movie-detail-img {
  width: 200px;
}

.movie-tagline {
  margin-left: 20px;
  font-size: 24px;
  font-family: 'PT Sans Caption', sans-serif;
  color: #FFF;
  text-shadow: 2px 2px #000;
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.movie-tagline > p {
  font-size: 20px;
  text-shadow: 2px 2px black;
}

.more-details {
  align-self: center;
}

.final-details {
  color: #FFF;
  font-size: 36px;
  font-family: 'Alegreya Sans', sans-serif;
  display: flex;
  justify-content: space-around;
}

.prod-company-container {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
}

.prod-img {
  width: 200px;
}

.prof-img {
  width: 100px;
}

.prof-container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px;
  flex-wrap: wrap;
}

.actor-name {
  color: #FFF;
  position: relative;
}

.actor-profile-container {
  text-align: center;
  width: 100px;
}

h5 {
  color: #FFF;
  font-size: 36px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

@media (max-width: 436px) {
  .movie-detail-info-container {
    flex-direction: column;
  }
  .movie-detail-img {
    width: 200px;
    align-self: center;
  }

  .final-details {
    flex-direction: column;
    align-items: center;
    font-size: 34px;
  }

  .prod-company-container {
    width: min-content;
  }

  .prof-container {
    flex-wrap: wrap;
  }

  .power-by {
    width: 200px;
  }

  .movie-detail-title {
    font-size: 28px;
  }

  .movie-tagline {
    margin-top: 12px;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
